<mat-card class="product-card m-2">
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <h2 (click)="navigate()">Nitrate Fertilizer For Plants</h2>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h2 class="bold m-0">Rs. 500</h2>
      <button mat-button color="accent">Add To Cart</button>
    </div>
  </mat-card-content>
</mat-card>
