<div *ngIf="!isLoading" fxLayout="row">
  <div fxFlex="50%" *ngIf="items.length === 0">
    <img width="400px" src="assets/images/no-image-available.png" alt="No Image">
  </div>
  <div fxFlex="50%" *ngIf="items.length > 0">
    <button mat-icon-button color="accent" (click)="lightbox.open(0)" class="fullscreen-btn">
      <mat-icon>crop_free</mat-icon>
    </button>
    <gallery [items]="items"></gallery>
  </div>
  <div fxFlex="50%" class="p-3">
    <h1 class="title">{{productInfo?.name}}</h1>
    <div class="mat-h5">SKU: {{productInfo?.SKU}}</div>
    <div class="mat-h5">Description: {{productInfo?.description}}</div>
    <div class="mat-h5">Dimension: {{productInfo?.dimension}}</div>
    <div class="mat-h5">Manufacturer: {{productInfo?.manufacturer}}</div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="mat-h4 font-weight-bold">Price: ₹ {{productInfo?.sellingPrice}}</div>
      <button mat-raised-button color="accent" (click)="addToCart()">Add To Cart</button>
    </div>
  </div>
</div>
<div *ngIf="!isLoading" fxLayout="column">
  <div class="mat-headline mb-0">
    Reviews
  </div>
  <mat-card *ngFor="let review of productInfo?.reviews">
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>account_circle</mat-icon> <span>{{review?.username}}</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <ngb-rating [rate]="review?.rating" [max]="5"></ngb-rating>
      <div class="text-info">Reviewed on {{review?.reviewDate | date: 'dd-MM-yyyy h:mm:ss a'}}</div>
    </div>
    <div class="font-weight-bold">{{review?.title}}</div>
    <div class="font-weight-lighter">{{review?.message}}</div>

  </mat-card>
</div>
<div *ngIf="isLoading" class="w-100 h-75" fxLayout="row" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</div>
