<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center"
  fxLayoutAlign.lt-md="space-evenly stretch" fxLayoutGap="30px" class="w-100 p-3">
  <div fxFlex=32>
    <mat-card class="card-bottom-grd-1 p-3">
      <div fxLayout.md="column" fxLayout.gt-md="row" fxLayout.lt-md="row" fxLayoutAlign="start center" fxLayoutAlign.md="center center" fxLayoutGap="20px">
        <div fxFlex="65px" class="round-icon" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>trending_up</mat-icon>
        </div>
        <div class="text-uppercase" fxLayout="column" fxLayoutAlign.md="center center" fxLayoutAlign="center start" fxLayoutGap="10px">
          <span class="quick-status-card-title">Full Portfolio Value</span>
          <span class="quick-status-card-body">{{ '190563' | currency:'ZAR':'symbol-narrow' }}</span>
        </div>
      </div>
    </mat-card>
  </div>

  <div fxFlex=32>
    <mat-card class="card-bottom-grd-2 p-3">
      <div fxLayout.md="column" fxLayout.gt-md="row" fxLayout.lt-md="row" fxLayoutAlign="start center" fxLayoutAlign.md="center center" fxLayoutGap="20px">
        <div fxFlex="65px" class="round-icon" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>account_balance_wallet</mat-icon>
        </div>
        <div class="text-uppercase" fxLayout="column" fxLayoutAlign.md="center center" fxLayoutAlign="center start" fxLayoutGap="10px">
          <span class="quick-status-card-title">Available Cash</span>
          <span class="quick-status-card-body">{{ '22200563' | currency:'ZAR':'symbol-narrow' }}</span>
        </div>
      </div>
    </mat-card>
  </div>

  <div fxFlex=32>
    <mat-card class="card-bottom-grd-3 p-3">
      <div fxLayout.md="column" fxLayout.gt-md="row" fxLayout.lt-md="row" fxLayoutAlign="start center" fxLayoutAlign.md="center center" fxLayoutGap="20px">
        <div fxFlex="65px" class="round-icon" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>equalizer</mat-icon>
        </div>
        <div class="text-uppercase" fxLayout="column" fxLayoutAlign.md="center center" fxLayoutAlign="center start" fxLayoutGap="10px">
          <span class="quick-status-card-title">Valuation Currency</span>
          <span class="quick-status-card-body">{{ 'R - Rand' }}</span>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<div fxLayout="row" class="p-3">
  <div class="w-100">
    <mat-card class="card-bottom-grd-3 p-3">
      <h1 class="chart-card-header">
        Performance NAV graph
      </h1>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div id="controls" style="width: 100%; overflow: hidden;">
          <div style="float: left; margin-left: 15px;">
          From: <input type="text" id="fromfield" class="amcharts-input" />
          To: <input type="text" id="tofield" class="amcharts-input" />
          </div>
          <div style="float: right; margin-right: 15px;">
          <button id="b1m" class="amcharts-input">1m</button>
          <button id="b3m" class="amcharts-input">3m</button>
          <button id="b6m" class="amcharts-input">6m</button>
          <button id="b1y" class="amcharts-input">1y</button>
          <button id="bytd" class="amcharts-input">YTD</button>
          <button id="bmax" class="amcharts-input">MAX</button>
          </div>
          </div>
        <div id="performanceNavChart" style="width: 100%; height: 500px"></div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row" fxLayoutGap="30px" fxLayout.lt-md="column" class="w-100 p-3">
  <div fxFlex=32>
    <mat-card class="card-bottom-grd-3 p-3">
      <h1 class="chart-card-header">
        Asset Allocation
      </h1>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div id="assetAllocationChart" style="width: 100%; height: 500px"></div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex=32>
    <mat-card class="card-bottom-grd-3 p-0">
      <h1 class="chart-card-header px-3 pt-3">
        Top 5 Winners
      </h1>
      <mat-divider></mat-divider>
      <mat-card-content>
        <table>
          <tr>
            <th>Portfolio</th>
            <th>% gain</th>
            <th>% of portfolio</th>
          </tr>
          <tr *ngFor="let winner of top5WinnersList">
            <td>{{winner.name}}</td>
            <td>{{winner.gain}}</td>
            <td>{{winner.percent}}</td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex=32>
    <mat-card class="card-bottom-grd-3 p-0">
      <h1 class="chart-card-header px-3 pt-3">
        Top 5 Loosers
      </h1>
      <mat-divider></mat-divider>
      <mat-card-content>
        <table>
          <tr>
            <th>Portfolio</th>
            <th>% lose</th>
            <th>% of portfolio</th>
          </tr>
          <tr *ngFor="let looser of top5LoosersList">
            <td>{{looser.name}}</td>
            <td>{{looser.gain}}</td>
            <td>{{looser.percent}}</td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>

</div>

