.mat-column-actions {
  width: 150px !important;
}

.mat-column-quantity {
  width: 100px !important;
}
.mat-column-grandPrice {
  width: 100px !important;
}
.mat-column-sellingPrice {
  width: 100px !important;
}
