<div class="mat-headline m-3">Manage Product Category</div>
<div fxLayout="row" class="m-3" fxLayoutGap="15px">
  <mat-card>
    <mat-selection-list #level1 [multiple]="false">
      <div mat-subheader>Level-1 Category
        <mat-icon mat-list-icon class="pl-2" style="cursor: pointer" (click)="openModal(null, null, false)">
          add_circle_outline
        </mat-icon>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let category of categoryList">
        <ng-container *ngIf="category.parent_id === '0'">
        <mat-list-option [value]="category" (click)="containerClick(0, category._id)">
          <mat-icon *ngIf="category.child.length > 0" mat-list-icon style="color: rgba(0, 0, 0, 0.54)">account_tree</mat-icon>
          <mat-icon *ngIf="category.child.length === 0" mat-list-icon style="color: rgba(0, 0, 0, 0.54)">mediation</mat-icon>
          <div mat-line>{{category.name}}</div>
        </mat-list-option>
        <mat-icon (click)="openModal(null, category, true)" mat-list-icon color="primary" style="font-size: 15px; padding: 0; text-align: center; cursor: pointer; height: auto">
          create
        </mat-icon>
        <mat-icon (click)="deleteCategory(null, category)" mat-list-icon color="warn" style="font-size: 15px; padding: 0; text-align: center; cursor: pointer; height: auto">
          delete_outline
        </mat-icon>
        </ng-container>
      </div>
    </mat-selection-list>
  </mat-card>
<!--  Level 2-->
  <mat-card [fxHide]="!level1.selectedOptions.selected[0]?.value">
    <mat-selection-list #level2 [multiple]="false">
      <div mat-subheader>Level-2 Category
        <mat-icon mat-list-icon class="pl-2" style="cursor: pointer" (click)="openModal(level1.selectedOptions.selected[0]?.value, null, false)">
          add_circle_outline
        </mat-icon>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let category of container2">
        <mat-list-option [value]="category" (click)="containerClick(1, category._id)">
          <mat-icon *ngIf="category.child.length > 0" mat-list-icon style="color: rgba(0, 0, 0, 0.54)">account_tree</mat-icon>
          <mat-icon *ngIf="category.child.length === 0" mat-list-icon style="color: rgba(0, 0, 0, 0.54)">mediation</mat-icon>
          <div mat-line>{{category.name}}</div>
        </mat-list-option>
        <mat-icon (click)="openModal(level1.selectedOptions.selected[0]?.value, category, true)" mat-list-icon color="primary" style="font-size: 15px; padding: 0; text-align: center; cursor: pointer; height: auto">
          create
        </mat-icon>
        <mat-icon (click)="deleteCategory(level1.selectedOptions.selected[0]?.value, category)" mat-list-icon color="warn" style="font-size: 15px; padding: 0; text-align: center; cursor: pointer; height: auto">
          delete_outline
        </mat-icon>
      </div>
    </mat-selection-list>
  </mat-card>
<!--  Level 3-->
  <mat-card *ngIf="level2.selectedOptions.selected[0]?.value">
    <mat-selection-list [multiple]="false">
      <div mat-subheader>Level-3 Category
        <mat-icon mat-list-icon class="pl-2" style="cursor: pointer" (click)="openModal(level2.selectedOptions.selected[0]?.value,null, false)">
          add_circle_outline
        </mat-icon>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let category of container3">
        <mat-list-option [value]="category._id">
          <mat-icon *ngIf="category.child.length > 0" mat-list-icon style="color: rgba(0, 0, 0, 0.54)">account_tree</mat-icon>
          <mat-icon *ngIf="category.child.length === 0" mat-list-icon style="color: rgba(0, 0, 0, 0.54)">mediation</mat-icon>
          <div mat-line>{{category.name}}</div>
        </mat-list-option>
        <mat-icon (click)="openModal(level2.selectedOptions.selected[0]?.value, category, true)" mat-list-icon color="primary" style="font-size: 15px; padding: 0; text-align: center; cursor: pointer; height: auto">
          create
        </mat-icon>
        <mat-icon (click)="deleteCategory(level2.selectedOptions.selected[0]?.value, category)" mat-list-icon color="warn" style="font-size: 15px; padding: 0; text-align: center; cursor: pointer; height: auto">
          delete_outline
        </mat-icon>
      </div>
    </mat-selection-list>
  </mat-card>
</div>
