<div fxLayout="row" class="m-3" fxLayoutGap="15px">
  <mat-card>
    <mat-selection-list [multiple]="false">
      <div mat-subheader>Level-1 Category
        <mat-icon mat-list-icon class="pl-2" style="cursor: pointer" (click)="openModal(null, false)">
          add_circle_outline
        </mat-icon>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let category of categoryList">
        <mat-list-option>
          <mat-icon *ngIf="category.child.length > 0" mat-list-icon style="color: rgba(0, 0, 0, 0.54)">account_tree</mat-icon>
          <mat-icon *ngIf="category.child.length === 0" mat-list-icon style="color: rgba(0, 0, 0, 0.54)">mediation</mat-icon>
          <div mat-line>{{category.name}}</div>
        </mat-list-option>
        <mat-icon (click)="openModal(category, true)" mat-list-icon color="primary" style="font-size: 15px; padding: 0; text-align: center; cursor: pointer; height: auto">
          create
        </mat-icon>
        <mat-icon (click)="deleteCategory(category)" mat-list-icon color="warn" style="font-size: 15px; padding: 0; text-align: center; cursor: pointer; height: auto">
          delete_outline
        </mat-icon>
      </div>
    </mat-selection-list>
  </mat-card>
  <mat-card>
    <mat-selection-list>
      <div mat-subheader>Level-2 Category
        <mat-icon mat-list-icon class="pl-2" style="cursor: pointer">add_circle_outline</mat-icon>
      </div>
      <mat-list-option *ngFor="let category of container2">
        <mat-icon mat-list-icon style="color: rgba(0, 0, 0, 0.54)">account_tree</mat-icon>
        <div mat-line>{{category.name}}
          <mat-icon mat-list-icon color="primary" style="font-size: 15px; padding: 0; text-align: center; cursor: pointer">create</mat-icon>
          <mat-icon mat-list-icon color="warn" style="font-size: 15px; padding: 0; text-align: center; cursor: pointer">delete_outline</mat-icon>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </mat-card>
  <mat-card>
    <mat-list>
      <div mat-subheader>Level-3 Category
        <mat-icon mat-list-icon class="pl-2" style="cursor: pointer">add_circle_outline</mat-icon>
      </div>
      <mat-list-item *ngFor="let category of container3">
        <mat-icon mat-list-icon style="color: rgba(0, 0, 0, 0.54)">account_tree</mat-icon>
        <div mat-line>{{category.name}}
          <mat-icon mat-list-icon color="primary" style="font-size: 15px; padding: 0; text-align: center; cursor: pointer">create</mat-icon>
          <mat-icon mat-list-icon color="warn" style="font-size: 15px; padding: 0; text-align: center; cursor: pointer">delete_outline</mat-icon>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
