/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';




.bg-primary {
  background: teal !important;
}

.product-card {
  max-width: 264px;
  border: 1px solid white;

  &:hover {
    border: 1px solid teal;
  }

  h2 {
   &:hover {
     color: teal;
     cursor: pointer;
   }
  }
}

.form-group.required label:after {
  content:"*";
  color:red;
  margin-left: 5px;
  font-size: medium;
}

gallery {
  background-color: white !important;
}

table.hover {
  tbody {
    tr {
      cursor: pointer;


      &:hover {
        background-color: #eee !important;
      }

      &:focus {
        background-color: #ccc !important;
      }
    }

    tr.selected {
      background-color: #eee !important;
    }
  }
}
